{% extends "base.html" %}
{% block content %}
    <div class="" align="" style="margin-left: 14rem;">
        <div class="card" style="width: 40rem; margin-top: 2rem;">
            <div class="card-header text-left"><b>Reset Password</b></div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    {% include 'accounts/snippets/widget_form.html' %}

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-secondary btn-lg float-left btn-block">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div><!-- end of card body -->
        </div><!-- end of card -->
    </div>
{% endblock %}

<div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
    <h1>Reset your Password</h1>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Reset Password</button>
        </form>
      </div>
</div>
