{% extends "base.html" %}
{% block title %}Password Reset Done || {{ block.super }}{% endblock title %}

{% block content %}
    <div class='row'>
        <div class="col-12 text-center" style="margin-top: 10rem;">
            <h1 class='display-4'>Password reset complete.</h1>
            <a href="{% url 'login' %}" style="text-decoration: none;">Login your account.</a>
        </div>
    </div>
{% endblock %}

<div class='row'>
    <div class="col-12 text-center py-5">
            <h1 class='my-5 py-5'>Password reset complete</h1>
            <a href='/login'>Login</a>
      </div>
</div>