{% load static %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
<script src="{% static 'js/popper.min.js' %}" ></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>

<!-- jQuery confirm -->
<script src="{% static 'js/jquery-confirm.min.js' %}" ></script>

<!-- custom script -->
<script src="{% static 'js/ajax.js' %}" ></script>
<script src="{% static 'js/script.js' %}" ></script>

<!-- Django csrf ajax protection -->
<script src="{% static 'js/csrf.ajax.js' %}" ></script>
