<div>
    <form class="form-product-ajax" method="POST" action="{% url 'cart-update' %}" data-endpoint="{% url 'cart-update' %}" class="form">{% csrf_token %}
    <input type="hidden" name="product" value="{{ product.id }}" />
    <span class="submit-span">
        {% if product in cart.products.all %}
            <h4>
                <span class="text-success">This product in your Cart.</span>
                <button type="submit" class="btn btn-outline-danger">Remove</button>
            </h4>
        {% else %}
            <button type="submit" class="btn btn-outline-success">Add to Cart</button>
        {% endif %}
    </span>
    </form>
</div>



<!--

<div>
{#    <form class="form-product-ajax" method="POST" action="{% url 'cart-update' %}" data-endpoint="{% url 'cart-update' %}" class="form">{% csrf_token %}#}
    <input type="hidden" name="product" value="{#  #}{ product.id }}" />
{#        {% if in_cart %}#}
            <button type="submit" class="btn btn-sm btn-outline-danger">Remove</button>
{#        {% else %}#}
            <span class="submit-span">
{#            {% if product in cart.products.all %}#}
                <h4>
                    <span class="text-success">This product in your Cart.</span>
                    <button type="submit" class="btn btn-sm btn-outline-danger">Remove</button>
                </h4>
{#            {% else %}#}
                <button type="submit" class="btn btn-lg btn-outline-success">Add to Cart</button>
{#            {% endif %}#}
            </span>
{#        {% endif %}#}
    </form>
</div>

-->