{% extends 'base.html' %}
{% block title %}REGISTER || {{ block.super }}{% endblock title %}

{% block content %}
    <div class="" align="" style="margin-left: 14rem;">
        <div class="card" style="width: 40rem; margin-top: 2rem;">
            <div class="card-header text-left"><b>Login</b></div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    {% include 'accounts/snippets/widget_form.html' %}

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-secondary btn-lg float-left btn-block">Login</button>
                        </div>
                    </div>
                </form>
                <a href="{% url 'register' %}" class="float-left" style="text-decoration: none;">Create new account.</a>
                <a href="{% url 'password_reset' %}" class="float-right" style="text-decoration: none;">Forger your password.</a>
            </div><!-- end of card body -->
        </div><!-- end of card -->
        <div class="col-6" style="margin-top: 2rem; margin-left: 6rem;">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p {% if message.tags %} class="text-center {{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}