{% extends 'base.html' %}
{% block title %}Registration || {{ block.super }}{% endblock title %}
{% load widget_tweaks %}

{% block content %}
    <div class="" align="" style="margin-left: 14rem;">
        <div class="card" style="width: 40rem; margin-top: 2rem;">
            <div class="card-header text-left"><b>Registration</b></div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <div class="form-group row">
                        <label for="{{ field.auto_id }}" class="col-md-4 col-form-label text-left"><b>{{ field.label_tag }}</b></label>
                        {% if form.is_bound %}
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% else %}
                        {% render_field field class="form-control is-valid" %}
                        {% endif %}
                        {% else %}
                        <div class="col-md-8">
                            {% render_field field class="form-control" %}
                        </div>
                        {% endif %}
                    </div><!-- end of form -->
                    {% endfor %}

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-secondary btn-lg float-left btn-block">Registration</button>
                        </div>
                    </div>
                </form>
            </div><!-- end of card body -->
        </div><!-- end of card -->
    </div>
{% endblock %}