<div>
    <form method="GET" action="{% url 'query' %}" class="form input-group">
        <input type="text" name="q" class="form-control" placeholder="Search" aria-label="Search" />
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </form>
</div>


<!--
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->