{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-left"><b>{{ field.label_tag }}</b></label>
                        {% if form.is_bound %}
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% else %}
                        {% render_field field class="form-control is-valid" %}
                        {% endif %}
                        {% else %}
                        <div class="col-md-8">
                            {% render_field field class="form-control" %}
                        </div>
                        {% endif %}
                    </div><!-- end of form -->
                    {% endfor %}