{% extends 'base.html' %}
{% load static %}
{% block title %}Payment Method || {{ block.super }}{% endblock title %}

{% block content %}
    <div class="col-6 col-md-6 mx-auto py-4">
        <div class="card">
            <div class="card-header">Your Payment Method</div>
            <div class="card-body">
                <div class="stripe-payment-form" data-token="{{ publish_key }}" data-next-url="{% if next_url %}{{ next_url }}{% endif %}" data-btn-title='Adding Card'></div>
            </div>
        </div>
    </div>

{% endblock %}
